<div class="bs-component">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
     
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto" style="color:blue;cursor:pointer">
          <li class="nav-item active">
            <a class="nav-link" href="#home">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="navigate()">Build</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" >Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/login']">LogIn</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" [routerLink]="['/register']">SignUp</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" (click)="onLogoutClick()">Logout</a>
              </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search">
          <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>
  </div>
<div class="jumbotron text-center">
  <h1>Resume Builder</h1> 
  
  <form class="form-inline">
    <div class="input-group">
           <div class="input-group-btn">
              <a (click)="navigate()" align="center"><button type="button" class="btn btn-danger">Build Your Resume Now</button></a>
      </div>
    </div>
  </form>
</div>
<!--</a> <a routerLink="second">Second</a> -->
  
  <div class="container-fluid bg-grey">
    <div class="row">
      <div class="col-sm-4">
        <span ><img src="../../assets/img/one.jpg" alt="loading..." width="250" height="300"></span>
      </div>
      <div class="col-sm-8">
        <h2>Our Values</h2><br>
        <h4><strong>MISSION:</strong> Our mission is to give an interactive platform to build Resume and Cover letter which is globally acceptable.</h4><br>
        <h4><strong>VISION:</strong> Our vision - You no longer have to worry about how to make a resume. Our resume generator will guide you through the process of writing each section, step-by-step. Resume writing tips will help you get more job offers.</h4>
      </div>
    </div>
  </div>
  <h2>About Resume Builder</h2><br>
  <h4>Choose professional, elegant, creative, or modern resume templates. Uptowork's resume maker offers 3 templates in many colors. You can easily adapt the designs to any resume format you choose: functional, reverse-chronological, or combination.</h4><br>
  <h4>Choose font types, sizes, and spacing. You can bold, italicize, and underline your text. Want to add live URLs? We've got you covered. It's like creating your resume in Word, but we take care of the formatting, and give you access to the best resume templates.</h4>
  <div id="portfolio" class="container-fluid text-center bg-grey">
      
      
      <h2>What our customers say</h2>
      <div id="myCarousel" class="carousel slide text-center" data-ride="carousel">
       
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <h4>"This company is the best. I am so happy with the result!"<br><span>Michael Roe, Vice President, Comment Box</span></h4>
          </div>
          <div class="item">
            <h4>"One word... WOW!!"<br><span>John Doe, Salesman, Rep Inc</span></h4>
          </div>
          <div class="item">
            <h4>"Could I... BE any more happy with this company?"<br><span>Chandler Bing, Actor, FriendsAlot</span></h4>
          </div>
        </div>
    
       
      </div>
    </div>
    <footer >
      
          <p align="center">© All Right Reserved | Ashish Kumar | MEAN STACK Developer</p>
          </footer>